@using DealerSite.ViewModels
@model PaymentViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <script>
    function resetForm() {
        document.getElementById('numberInput').value = "";
        document.getElementById('amountInput').value = "";
    }
    </script>
<div>
    <span style="font-size: 20px;">Test payment interface through CyberPlat gate:</span>
    <div style="margin: 2px;">
        <form action="/Payment/Payment" method="post">
            <table>
                <tr>
                    <td>Phone number:</td>
                    <td><input type="text" id="numberInput" name="number" value="@(Model?.PaymentInput?.Number ?? "")" placeholder="9261112233" /></td>
                    <td style="color: red;">@Html.ValidationMessage("number")</td>
                </tr>
                <tr>
                    <td>Amount to pay:</td>
                    <td><input type="text" id="amountInput" name="amount" value="@(Model?.PaymentInput?.Amount ?? "")" placeholder="123.45" /></td>
                    <td style="color: red;">@Html.ValidationMessage("amount")</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" name="BtnPay" value="Pay" />
                        <input type="button" name="BtnClear" value="Clear" onclick="resetForm();" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <span>Payment info:</span>
    <div id="info" style="border: solid lightgray 3px; border-style: groove; padding: 0px 4px; margin: 2px; width: 600px; min-height: 100px;">
    @{
        if (Model?.GateCheckResponse != null)
        {
            <table style="border: solid black 1px; margin: 4px 0px; width: 100%;">
                <tr>
                    <td>Server "Check" response:</td>
                    <td>
                        <span style="background-color: @(Model.IsCheckSuccessfull ? "green" : "red")">
                            <b>@(Model.IsCheckSuccessfull ? "success" : "fail")</b>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Info for user:</td>
                    <td>@Model.GateCheckResponse.DisplayInfo</td>
                </tr>
                <tr>
                    <td>Session number:</td>
                    <td>@Model.GateCheckResponse.Session</td>
                </tr>
                <tr>
                    <td>Error message and code:</td>
                    <td>@(Model.GateCheckResponse.Error?.Description ?? "null") (code = @(Model.GateCheckResponse.Error?.Code.ToString() ?? "null"))</td>
                </tr>
            </table>
        }

        if (Model?.GatePayResponse != null)
        {
            <table style="border: solid black 1px; margin: 4px 0px; width: 100%;">
                <tr>
                    <td>Server "Pay" response:</td>
                    <td>
                        <span style="background-color: @(Model.IsPaySuccessfull ? "green" : "red")">
                            <b>@(Model.IsPaySuccessfull ? "success" : "fail")</b>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Dealer system transaction number:</td>
                    <td>@Model.GatePayResponse.RRN</td>
                </tr>
                <tr>
                    <td>CyberPlat system transaction number:</td>
                    <td>@Model.GatePayResponse.TransId</td>
                </tr>
                <tr>
                    <td>Session number:</td>
                    <td>@Model.GatePayResponse.Session</td>
                </tr>
                <tr>
                    <td>Error message and code:</td>
                    <td>@(Model.GatePayResponse.Error?.Description ?? "null") (code = @(Model.GateCheckResponse.Error?.Code.ToString() ?? "null"))</td>
                </tr>
            </table>
        }
    }
    </div>
</div>
</body>
</html>
